

.cartItemRemove {
  margin-top: 20px;
  font-size: 16px;
  background-color: #928f8f;
  color: #fff;
  border: none;
  padding: 3px 15px;
  border-radius: 5px;

}

.cartItemQty{
display: flex;
justify-content: flex-end;
flex-direction: end;
padding: 3px 5px;
margin-left: 10px;
border-radius: 5px;
}